* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}


::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  /* background-color: #12222A; */
  /* background-color: #fff; */
  background-color: #0b0b0b;
  color: #fff;

}



/* Marvel  */


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(61, 61, 61, 0.8);
  height: 90px;
  padding: 10px 40px;
  color: #fff;
  width: 100%;
  overflow: hidden;
  /* background-color: #0b0b0b; */
}



.gray {
  color: #918E9B;
  margin-right: 2px;
  font-size: 10px;
}

.--logo img {
  height: 50px;
  width: 200px;
}


.--img-container {
  position: relative;
  opacity: 50%;
  transition: 0.3s ease;
}

.--img-container img {
  max-width: 400px;
  margin-bottom: 65px;
  transition: 0.3s ease;
  margin: 0 auto;
  position: absolute;
  top: -100px;
  left: -200px;
  opacity: 50%;
  transition: 0.3s cubic-bezier(0.78, 0, 0, 1.07);
  animation-name: multiple-image-crossfade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}



.--img-container img:nth-of-type(1) {
  animation-delay: 6s;
}


.--img-container img:nth-of-type(2) {
  animation-delay: 4s;
}


.--img-container img:nth-of-type(3) {
  animation-delay: 2s;
}


@keyframes multiple-image-crossfade {
  0% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  92% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.--img-container:hover {
  transform: scale(1.1);
  opacity: 100%;
}


.--search-container input {
  width: 300px;
  padding: 3px 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  letter-spacing: 0.25px;
  transition: ease 0.3s;
}

.--search-container input:focus {
  transform: scale(1.1);
  overflow: hidden;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.search {
  display: none;
}

section {
  padding: 30px;
}

.--Hero {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.--Hero img {
  padding: 10px;
  max-width: 100%;
  height: auto;
  align-self: center;
  margin: auto;
  border-radius: 20px;
  transition: 0.3s all ease;
}


.--Hero img:hover {
  transform: scale(1.01);
}

.--hero-content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.--hero-text {
  margin-top: 0;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.--hero-p {
  margin-top: 0;
}


.cards-list {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

}



.--hero-card {
  overflow: hidden;
  border-radius: 5px;
  width: 190px;
  margin: 0 50px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #000;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.--hero-card img {
  opacity: 70%;
  width: 100%;
  height: 260px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 10px;
  transition: all ease 0.3s;
  ;
}


.--hero-card img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.--card-stats {
  display: flex;
  padding: 10px;
}

.--card-stats img {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}

.--card-stats .rating {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 2px;
}

.--hero-title {
  margin-top: -10px;
  font-family: Poppins;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
}

.--hero-desc {
  margin-top: 0;
  font-size: 0.6em;
  padding: 5px 10px;
  height: 80px;
  letter-spacing: 0.1px;
  font-weight: 300;
}


.--card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: -10px;
}

.--card-footer a {
  user-select: none;
}


.--trailer-btn {
  margin-right: 10px;
  padding: 3px 8px;
  float: right;
  font-size: 0.5rem;
  letter-spacing: 0.2px;
  border-radius: 3px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #dadada;
  box-shadow: 3px 4px 1px rgba(0, 0, 0, 1);
  transition: 0.3s ease;
}


.--trailer-btn:hover {
  transform: scale(1.1)
}

.--trailer-btn>.uil-play {
  margin-left: 1px;
}

.--hero-price {
  /* margin-top: -10px; */
  padding: 0 10px;
  font-size: 0.6rem;
}

.bold {
  font-weight: bold;
  color: #ED1D24;
}

@media (width <=325px) {
  .--logo img {
    transition: 0.3s ease-in-out;
    height: 50px;
    width: 150px;
  }

  .search {
    display: block;

  }

  input {
    display: none;
  }

  .--img-container {
    display: none;
  }

  .search {
    display: block;
    /* margin-right: 30px; */
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    transition: 0.3s cubic-bezier(0.78, 0, 0, 1.07);
  }

  .search:hover {
    transform: scale(1.1);
  }

}

@media(width<=425px) {
  .--logo img {
    transition: 0.3s ease;
    height: 38px;
    width: 120px;
    margin-left: 0px;
    transition: 0.3s ease;
  }




  .--Hero img {
    max-width: 300px;
    height: 150px;
    margin: 0;
    margin-bottom: -40px;
  }

  .--search-container input {
    display: none;
    opacity: 0;
  }


  .search {
    display: block;
    margin-right: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    transition: 0.3s cubic-bezier(0.78, 0, 0, 1.07);
  }

  .search:hover {
    transform: scale(1.1);
  }

  .--img {
    float: right;
    margin-right: -180px;
  }

}



@media (width <=768px) AND (width > 425px) {

  nav {
    height: 80px;
  }

  .--logo img {
    transition: 0.3s ease;
    height: 35px;
    width: 150px;
  }

  .--img {
    transition: 0.3s ease;
    margin-top: 30px;
    max-width: 300px;
    opacity: 60%;
    transition: 0.3s cubic-bezier(0.78, 0, 0, 1.07);
  }

  .--img:hover {
    transform: scale(1.1);
    opacity: 100%;
  }

  nav input {
    display: none;
  }

  .search {
    display: block;
    margin-right: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    transition: 0.3s cubic-bezier(0.78, 0, 0, 1.07);
  }

  .search:hover {
    transform: scale(1.1);
  }

}